.about-section {
  padding: 10px 80px 100px;
  color: #e6f7ff;
  background: radial-gradient(circle at top, #0b1a22, #000);
}

/* Title */
.about-title {
  text-align: center;
  font-size: 48px;
}

.about-title span {
  color: #00b7ff;
}

.title-line {
  width: 80px;
  height: 3px;
  background: #00b7ff;
  margin: 15px auto 60px;
}

/* Layout */
.about-content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 80px;
}

/* Left */
.about-left h2 {
  color: #00c6ff;
  margin-bottom: 20px;
}

.about-left p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #b9eaff;
}

.highlight-text {
  color: #c77dff;
  font-weight: 600;
}

/* Features */
.features {
  margin-top: 40px;
}

.feature {
  margin-bottom: 20px;
}

.feature h4 {
  color: #00eaff;
  margin-bottom: 5px;
}

/* Right */
.about-right h2 {
  font-size: 30px;        /* ⬅ increased */
  font-weight: 700;
  color: #00c6ff;
  margin-bottom: 30px;   /* little more spacing */
}
/* Skills */
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 14px 18px;
}

.skills span {
  background: rgba(0, 183, 255, 0.1);
  padding: 10px 15px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;   /* ⬅ increase this */
  font-weight: 400; 
}

/* Experience Box */
.experience-box {
  margin-top: 20px;
  padding: 30px;
  background: linear-gradient(135deg, #c77dff, #ff6fd8);
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.experience-box h3 {
  font-size: 32px;
}
.skills span:hover {
  background: rgba(0, 183, 255, 0.25);
  transform: translateY(-2px);
  transition: 0.3s ease;
}


/* Responsive */
@media (max-width: 900px) {
  .about-content {
    grid-template-columns: 1fr;
  }

  .about-section {
    padding: 80px 30px;
  }

  .skills {
    grid-template-columns: 1fr;
  }
}
